.container {
  display: grid;
  grid-template-columns: 0.77fr 4fr;
}

.columnLeft {
  display: flex;
  flex-direction: column;
  width: 270px;
  background: rgb(245, 245, 245);
  border-right: 1px solid #d4d4d4;
  height: 88.5vh;
}

.menuOptions {
  cursor: pointer;
  padding: 20px 0 20px 40px;
  border-bottom: 1px solid #d4d4d4;
  transition: all 100ms;
}

.menuOptions:hover {
  background: rgb(226, 226, 226);
}

.embolden {
  font-weight: bold;
}

.mainComponent {
  border: 2px solid black;
}
