.container {
  background-color: pink;
}

.information {
  // background: red;
  text-align: center;
  &:hover {
  }
}

.accountChanges {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid purple;
  & form {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    border: 2px solid blue;
  }
  & input {
    display: block;
  }
}
