.background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 50px 0 0 0;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 30px 0;
  background: #fdfbf6;
  min-width: 90vw;
  border-radius: 12px;
  box-shadow: 1px 0px 3px #817171, 0px 1px 3px #817171, -1px 0px 3px #817171,
    0px -1px 3px #817171;
  @media screen and (min-width: 1200px) {
    min-width: 40vw;
    margin-top: 140px;
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    min-width: 50vw;
  }
  @media screen and (min-width: 600px) and (max-width: 992px) {
    min-width: 70vw;
  }
}

.welcome {
  font-weight: bold;
  font-size: 1.5rem;
}

.inputBlock {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.container input[type='email'],
.container input[type='password'] {
  font-family: Montserrat;
  padding: 10px 0px 10px 10px;
  width: 230px;
  font-size: 0.8rem;
  border-radius: 4px;
  border: 1px solid gray;
  outline: none;
}

.container input[type='email']:focus,
.container input[type='password']:focus {
  box-shadow: 2px 0px 2px rgb(207, 127, 127), 0px 2px 2px rgb(207, 127, 127),
    -2px 0px 2px rgb(207, 127, 127), 0px -2px 2px rgb(207, 127, 127);
}

.buttonConnect {
  margin-top: 10px;
}

.container input[type='submit'] {
  width: 100px;
  padding: 7px 0 7px 0;
  border-radius: 6px;
  border: 2px solid black;
  color: white;
  background: #000;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    background: white;
    color: black;
  }
}

.container label {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorMsg {
  width: 200px;
  text-align: center;
  font-size: 0.9rem;
}

.forgotten {
  padding: 0 0 0 14px;
  color: black;
  font-size: 0.65rem;
  &:hover {
    text-decoration: underline;
  }
}
