.navContainer {
  position: sticky;
  // top: 0;
  z-index: 1;
}

.navbar {
  background-color: black;
  color: white;
  padding: 12px 0 12px 5px;
  font-weight: bold;
  display: flex;
  outline: 2px solid white;
  box-shadow: 0px 4px 0px black;
}

.title {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 25px;
  padding: 3px 9px 2px 9px;
  border-radius: 12px;
  border: 2px solid white;
  transition: all 200ms ease-out;
  &:hover {
    box-shadow: 0px 2px 3px white, 2px 0px 3px white, -2px 0px 3px white,
      0px -2px 3px white;
  }
}

.central {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.calculateurs {
  display: none;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #484848;
  border-bottom: 1px solid lightgray;
  /* border-top: 1px solid lightgray; */
  background: #1b1b1b;
  /* border-radius: 6px; */
  font-size: 0.8rem;
  padding: 9px 22px 9px 22px;
  margin: 0 1em 0 1em;
  transition: border 200ms ease;
  &:hover {
    background-color: #1d1d1d;
    border: 1px solid lightgray;
  }
  @media screen and (min-width: 600px) {
    display: block;
  }
}

.faAnglesRight {
  color: lightgray;
  font-size: 20;
  padding-left: 15px;
  display: none;
  transition: all 400ms;
  @media screen and (min-width: 600px) {
    display: block;
  }
}

.fiscaux {
  display: none;
  @media screen and (min-width: 1200px) {
    display: inline;
  }
}

/* DOCUMENTATION BLOCK*/

.documentationContainer {
  margin-left: auto;
}

.documentation {
  display: none;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #484848;
  border-bottom: 1px solid lightgray;
  background: #1b1b1b;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 10px 22px 10px 22px;
  margin: 0 1em 0 0em;
  transition: border 200ms ease;
  &:hover {
    background-color: #1d1d1d;
    border: 1px solid lightgray;
  }
  @media screen and (min-width: 992px) {
    display: block;
  }
}

.umentation {
  display: none;
  @media screen and (min-width: 1200px) {
    display: inline;
  }
}

.faBook {
  color: lightgray;
  font-size: 20;
  padding-left: 15px;
  transition: all 200ms;
}

/* SEARCH BLOCK */

.blockSearch {
  display: none;
  align-items: center;
  @media screen and (min-width: 992px) {
    display: flex;
  }
}

.inputSearch {
  background: rgb(245, 245, 245);
  padding: 10px 0 10px 15px;
  outline: none;
  width: 150px;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.bgSearch {
  height: 35px;
  background: rgb(245, 245, 245);
  width: 40px;
  cursor: pointer;
}

.faSearch {
  width: 30px;
  align-items: center;
  vertical-align: center;
  padding-top: 10px;
  padding-left: 5px;
  color: black;
  font-size: 25;
}

/**/

/* ACCOUNT BLOCK*/

.blockAccount {
  font-size: 1.03rem;
  font-weight: bold;
  display: none;
  align-items: center;
  margin-right: 20px;
  @media screen and (min-width: 600px) {
    display: flex;
  }
}

.connect {
  width: 138px;
  height: 36px;
  margin: 0px 10px 0 0;
  border: 2px solid white;
  background-color: white;
  & a {
    text-align: center;
    display: none;
    padding: 6px 10px 6px 10px;
    transition: all 200ms;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}

.register {
  width: 170px;
  height: 36px;
  background-color: black;
  border: 2px solid white;
  & a {
    text-align: center;
    display: block;

    padding: 6px 10px 6px 10px;

    color: white;
    transition: all 200ms;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.parameters {
  display: none;
  margin: 0px 10px 0 0;
  width: 138px;
  height: 36px;
  background-color: white;
  border: 2px solid white;
  & a {
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 6px 10px 6px 10px;
    transition: all 200ms;
    color: black;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.myAccount {
  height: 36px;
  width: 170px;
  background-color: black;
  border: 2px solid white;

  & a {
    text-align: center;
    display: block;
    cursor: pointer;
    padding: 6px 10px 6px 10px;
    color: white;
    transition: all 200ms;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

/* ACCOUNT MODAL */

.account {
  position: absolute;
  margin-top: 3px;
  right: 0;
  padding: 10px;
  border: 1px solid rgb(75, 75, 75);
  background: white;
  border-radius: 6px;
  & div {
    /* cursor: pointer; */
    transition: 200ms;
    & a:hover {
      background: #000;
      color: white;
      border-radius: 6px;
    }
  }
}

.accountHidden {
  display: none;
}

.smallScreenMenu {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  display: block;
  padding-top: 3px;
  cursor: pointer;
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.faBars {
  align-items: center;
  font-weight: normal;
  width: 55px;
  min-height: 33px;
  user-select: none;
  /* border: 2px solid red; */
}

.email {
  padding: 4px 5px;
  font-weight: bold;
  cursor: default;
  text-align: center;
  background: #000;
  color: white;
  border-radius: 6px;
  margin-bottom: 10px;
}

.language {
  cursor: default;
  text-align: center;
  font-weight: normal;
  padding-bottom: 10px;
  /* border: 2px solid red; */
  border-bottom: 1px solid gray;
}

.manage {
  padding: 8px 5px 4px 5px;
  font-weight: bold;
  & a {
    padding: 4px 5px;
  }
}

.logout {
  padding: 4px 5px;
  font-weight: bold;
  cursor: pointer;
  & a {
    padding: 4px 5px;
  }
}

.skeleton {
  animation: skeleton-loading 0.6s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.hidden {
  display: none;
}

.rightMenu {
  position: absolute;
  right: 0;
  background: black;
  width: 250px;
  height: 100%;
  z-index: 1;
  & .items {
    margin-top: 80px;
    padding-left: 30px;
    & .item {
      cursor: pointer;
      padding-bottom: 10px;
      & a {
        color: white;
        padding: 3px 5px;

        border-radius: 6px;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
    & .itemInput {
      display: flex;
      color: black;
      margin-bottom: 20px;
      & input {
        outline: none;
        width: 160px;
        padding: 10px;
        border: none;
      }
      & .bgSearchRightMenu {
        padding: 8px 0 0px 8px;
        background: white;
        width: 36px;
        cursor: pointer;
      }
    }
  }
}
